@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat:200&display=swap');
/* add carousel with upto 5 images */

/*------------------- colours */

.bg-color-nav {
    background-color: #435484;
}

.bg-color-section {
    background-color: #141214;
    /**/
}

.bg-color-footer {
    background-color: #555e7c;
    /**/
}

.bg-color-body {
    background-color: #B5C5E8;
}

    /* background-color: #6d6e71; /*gray*/

/*  #D5D5D5 white */

/*------------------- Header */

.navbar {
    width: 100%;
    display: block;
}

.logo-container {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

/*--------------------- Icon Bar Animation */

.collapsed .icon-bar {
    width: 22px;
    height: 2px;
    background-color: #141214;
    display: block;
    transition: all 0.2s;
    margin: 4px;
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #D5D5D5;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
}

.navbar-toggler {
    border: none;
    background: transparent !important;
    margin: auto 0 10px 10px;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

button:focus {
    outline: none;
}

.navbar-toggler:active {
    text-decoration: none;
    color: #3e5087;
}

/*--------------------- Icon Bar Animation - End */

/*--------------------- Small Res Styling */

@media screen and (max-width: 575px) {
    .navbar-nav li {
        padding: 12px;
    }
    .navbar .nav-link {
        display: flex;
        padding-left: 5%;
    }
    .nav-link:focus {
        background-color: #d5d5d5;
        color: #6d6e71;
        outline: none;
    }
    .navbar-brand:focus, image:focus {
        outline: none;
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
}

/*--------------------- Small Res Styling End */

.navbar-nav {
    background-color: #435484;
    margin-bottom: 0rem;
    width: 100%;
}

.nav-link {
    width: 100%;
}

.navbar-nav li a {
    text-align: center;
    font-family: "Monserrat", sans-serif;
    /*"Cinzel", sans-serif*/
    color: #353436;
    letter-spacing: 4px;
    font-size: 1.2em;
    font-weight: 200;
    display: inline;
    position: relative;
}

.navbar-nav li a:hover {
    color: #d5d5d5;
}

.nav-item>.active {
    text-decoration: none;
    color: #211d25e7;
}

/*--------------------- Tablet Styling */

@media screen and (min-width: 576px) {
    .logo-container {
        width: 100%;
        justify-content: center;
    }
    .logo-container #logo {
        height: 100%;
        width: 100%;
    }
    .navbar-brand {
        height: 120px;
        max-width: 120px;
        justify-content: center;
        /*position: relative;
        margin-left: 50%;
        transform: translateX(-50%);*/
    }
    .navbar-nav {
        background-color: inherit;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar-nav li {
        display: flex;
        text-align: center;
        display: inline-block;
    }
    .hvr-icon-grow:hover {
        color: #d5d5d5 !important;
        font-size: 1.4rem;
        text-decoration: none;
    }
}

@media screen and (min-width: 970px) {
    .navbar {
        display: inline-flex;
        justify-content: space-evenly;
    }
    .logo-container #logo {
        height: 90%;
    }
    .logo-container {
        width: 33%;
        height: 100px;
        justify-content: flex-start;
    }
    #navbar-menu {
        width: 67%;
        height: 100px;
        align-items: flex-end;
    }
    .navbar-nav {
        list-style: none;
        width: 100%;
    }
}

/*------------------- Tagline section */

/*.tagline*/ .jumbotron {
    background-color: #b5c5e8;
    margin-bottom: 0rem;
}

/*.tagline*/ .jumbo-text {
    padding: 30px;
    background-color: #24222d;    
}

.jumbo-text h1 {
    font-family: "Monserrat", sans-serif;
    color: #d5d5d5;
    letter-spacing: 4px;
}

 .jumbo-text p {
    display: inline;
    font-family: "Lora", sans-serif;
    color: #d5d5d5;
    font-size: 2em;
}
.tagline .jumbo-text p {
    float: right;
    text-align: right;
}

span {
    font-weight: bold;
}

@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 48.33333%;
        flex: 1 0 48.33333%;
        max-width: 50%;
    }
    .jumbotron {
        padding: 0rem 0rem;
        margin: 30px;
        
    }
    .jumbo-text {
        padding: 20px;
        border-radius: 25px;
        background-color: #24222d;
    }
    /*.tagline */.jumbo-text p {
        margin-top: 20px;
    }
    .tagline .jumbo-pic-container {
        margin-left: 1.66667%;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: #fff;
        border-radius: 25px;
    }
    #jumbo-pic {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .col-lg-8 {
        flex: 0 0 65%;  /* reduced to allow for 1.666667% margin */
        max-width: 66.666667%;
    }
    .tagline .jumbo-text {
        margin: 0px;
        float: right;
        text-align: right;
        padding: 48px 16px 48px 16px;
        
    }
    .tagline .jumbo-text h1 {
        text-align: left;
    }
    .tagline .jumbo-text p {
        margin-top: 20px;
        /*float: right;
        text-align-last: right;*/
    }
    .tagline .jumbo-pic-container {
        justify-content: flex-end;
        align-items: flex-end;
    }
    #jumbo-pic {
        width: 75%;
        max-height: 350px;
    }
}

/*------------------- Tagline section - End */


/*------------------- Grid text-image-boxes*/
    .grid-container {
        display: grid; 
        grid-template-columns: 50% 50%;
    }
    .grid-container h1 {
        display:flex;
        float: left;
        font-family: "Monserrat", sans-serif;
        color: #d5d5d5;
        letter-spacing: 4px;
    }
    .feature-text{
        
    }
    .grid-container p {
        float: right;
        text-align: end;
        font-family: "Lora", sans-serif;
        color: #d5d5d5;
        font-size: 2em;
    }
    .grid-item{
        width: 100%;
        height: 300px;
        text-align: center;
        background-color: #24222d;
        overflow: hidden;
    }
    .text-box-top {
        grid-row: 1;
        grid-column: 1 / 5;
        padding: 30px;
    }
    .image-box-top{
        grid-row: 1 ;
        grid-column: 5 / 7;
        display: flex;
        justify-content: flex-end;
        background-color: white;
    }
    #home-image1 {
        width:300px;
        height:300px;
    }
    .image-box-mid {
        grid-row: 2;
        grid-column: 1 / 3;
        width: 100%;

    }
    #home-image2 {
        width:100%;
        height:100%;
    }

    .text-box-mid {
        grid-row: 2;
        grid-column: 3 / 7;
        padding:30px;
    }
    .badge {
        font-size: 2rem;
        font-weight: bold;
        align-self: center;
        max-height: 42px;
        letter-spacing: 0px;
    }
    .badge-secondary {
        color: #24222d;
        background-color: #d5d5d5;
    } 


@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
        justify-content: space-around;
        row-gap: 60px;
        padding: 20px;
    }
    .grid-item {
        border-radius: 25px;
    }
    .text-box-top {
        grid-column: 1 / 4;
    }
    .text-box-top p {
        /*display:none;*/
        font-size: 0px;
    }
    .image-box-top{
        grid-column: 4 / 7;
    }
    .image-box-mid{
        grid-column: 1 / 4;
    }
    .text-box-mid{
        grid-column: 4/7;
    }
    

}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
    }
    .grid-item {}
    .text-box-top {
        grid-column: 1 / 5;
    }
    .text-box-top p {
        /*display:none;*/
        font-size: 2em;
    }
    .image-box-top{
        grid-column: 5 / 7;
    }
    .image-box-mid{
        grid-column: 1 / 3;
    }
    .text-box-mid{
        grid-column: 3 / 7;
    }
    .text-box-mid p {
        margin-top:50px;
    }
}
/*------------------- Grid text-image-boxes - End*/

/*------------------- Footer section */
footer {
    position: absolute;
    font-family: "Monserrat", serif;
    color: #9099A2;
    font-size: 2em;
    margin-bottom: 0em;
}
.social{    
    display: flex;
    justify-content:space-around;
    margin: auto;
    padding: 5px 60px 5px 60px;
}
.social a {
    color: #353436;
}
.social a:hover {
    color: #d5d5d5;
}

/*------------------- Footer Section - End */

/*------------------- Results Page */
.results { 
    padding:0em;
    margin: 0em;  
}

.results-container {
    padding: 0;
    margin: 0;
    width: inherit;
    height: inherit;
    display:flex;
    position:relative;
}
.results-background {
    position: relative;
    margin:0;
    padding-left: 0px;
    padding-right: 0px;
    height:300px;
    background-image: url('../images/pt_renrow.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    display: flex;
    overflow: hidden;
}
.dark-overlay {
    background: #24222d;
    padding: 30px;
    opacity: 0.5;
    width:100%;
    height:100%;
    display: inline-block;
    position: absolute;
}
.dark-overlay h1{
    font-family: "Monserrat", sans-serif;
    color: #d5d5d5;
    letter-spacing: 4px;
}
.dark-overlay p {
    font-family: "Lora", sans-serif;
    color: #d5d5d5;
    font-size: 2em;
    margin-top: 60px;
    float: right;
}

@media (min-width: 768px) {
    .results-container {
        padding:30px;
    }
    .results-background {
        border-radius: 25px;
    }
    .dark-overlay h1{
        margin-left: 10%;
        float: left;
    }
    .dark-overlay p{
        margin-top:60px;
        margin-right: 10%;
    }
}
@media (min-width: 992px) {
    .dark-overlay h1{
        text-align:center;
        float: center;
    }
}

@media (min-width: 1055px) {
    .dark-overlay p{
        margin: 15% 10% 0 0;
    }
}