@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat:200&display=swap');
/* add carousel with upto 5 images */

/*------------------- colours */

.bg-color-nav {
    background-color: #435484;
}

.bg-color-section {
    background-color: #141214;
    /**/
}

.bg-color-footer {
    background-color: #555e7c;
    /**/
}

.bg-color-body {
    background-color: #6d6e71;
}

    {
    /* background-color: #6d6e71; /*gray*/
}

/*  #D5D5D5 white */

/*------------------- Header */

.navbar {
    width: 100%;
    display: block;
}

.logo-container {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

/*--------------------- Icon Bar Animation */

.collapsed .icon-bar {
    width: 22px;
    height: 2px;
    background-color: #141214;
    display: block;
    transition: all 0.2s;
    margin: 4px;
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #D5D5D5;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
}

.navbar-toggler {
    border: none;
    background: transparent !important;
    margin: auto 0 10px 10px;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

button:focus {
    outline: none;
}

.navbar-toggler:active {
    text-decoration: none;
    color: #3e5087;
}

/*--------------------- Icon Bar Animation - End */

/*--------------------- Small Res Styling */

@media screen and (max-width: 575px) {
    .navbar-nav li {
        padding: 12px;
    }
    .navbar .nav-link {
        display: flex;
        padding-left: 5%;
    }
    .nav-link:focus {
        background-color: #d5d5d5;
        color: #6d6e71;
        outline: none;
    }
    .navbar-brand:focus, image:focus {
        outline: none;
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
}

/*--------------------- Small Res Styling End */

.navbar-nav {
    background-color: #435484;
    margin-bottom: 0rem;
    width: 100%;
}

.nav-link {
    width: 100%;
}

.navbar-nav li a {
    text-align: center;
    margin-top: 2px;
    font-family: "Monserrat", sans-serif;
    /*"Cinzel", sans-serif*/
    color: #353436;
    letter-spacing: 4px;
    font-size: 1.2em;
    font-weight: 200;
    display: inline;
    position: relative;
}

.navbar-nav li a:hover {
    color: #d5d5d5;
}

.nav-item>.active {
    text-decoration: none;
    color: #211d25e7;
}

/*--------------------- Tablet Styling */

@media screen and (min-width: 576px) {
    .logo-container {
        width: 100%;
        justify-content: center;
    }
    .logo-container #logo {
        height: 100%;
        width: 100%;
    }
    .navbar-brand {
        height: 120px;
        max-width: 120px;
        justify-content: center;
        /*position: relative;
        margin-left: 50%;
        transform: translateX(-50%);*/
    }
    .navbar-nav {
        background-color: inherit;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar-nav li {
        display: flex;
        text-align: center;
        display: inline-block;
    }
    .hvr-icon-grow:hover {
        color: #d5d5d5 !important;
        font-size: 1.4rem;
        text-decoration: none;
    }
}

@media screen and (min-width: 970px) {
    .navbar {
        display: inline-flex;
        justify-content: space-evenly;
    }
    .logo-container #logo {
        height: 90%;
    }
    .logo-container {
        width: 33%;
        height: 100px;
        justify-content: flex-start;
    }
    #navbar-menu {
        width: 67%;
        height: 100px;
        align-items: flex-end;
    }
    .navbar-nav {
        list-style: none;
        width: 100%;
    }
}

/*------------------- Carousel section */

.image-slider {
    height: 50%;
    width: 66%;
    background-color: ;
    margin-left: 16.5%;
}

.carousel-item {}

/*------------------- Carousel section - End */

/*------------------- Tagline section */

.jumbotron {
    background-color: #24222d;
    margin-bottom: 0rem;
    /*max-height: 50vh;*/
}

.jumbo-text {
    padding: 30px;
    margin-right: 20px;
}

.jumbo-text h1 {
    font-family: "Monserrat", sans-serif;
    /*"Cinzel", sans-serif*/
    color: #d5d5d5;
    letter-spacing: 4px;
}

.jumbo-text p {
    display: inline;
    font-family: "Lora", sans-serif;
    color: #d5d5d5;
    font-size: 2em;
    margin-top: 20px;
    float: right;
    text-align: right;
}

span {
    font-weight: bold;
}

@media (min-width: 768px) {
    .jumbotron {
        padding: 0rem 0rem;
    }
    .jumbo-text {
        padding: 20px;
        margin-left: 20px;
    }
    .jumbo-text h1 {
        text-align: center;
    }
    .jumbo-text p {
        margin-top: 20px;
        float: center;
        text-align: center;
    }
    .jumbo-pic-container {
        justify-content: center;
        background-color: #fff;
    }
}

@media (min-width: 992px) {
    .jumbotron {}
    .jumbo-text {
        margin: 20px 0px 20px 0px;
        float: right;
        text-align: right;
        padding: 48px 16px 48px 16px;
        
    }
    .jumbo-text h1 {
        text-align: left;
    }
    .jumbo-text p {
        margin-top: 20px;
        float: left;
        text-align-last: right;
    }
    .jumbo-pic-container {
        justify-content: flex-end;
        align-items: flex-end;
    }
    #jumbo-pic {
        width: 75%;
        max-height: 350px;
    }
}

/*------------------- Tagline section - End */

/*------------------- Callout section */
    .callout{
        position:relative;
        height:100%;
    }
    /*.callout-pic-container{
        justify-content: center;
    }*/
    .callout-pic-container {
        background-attachment: fixed;
        background: blue url(assets/images/pt_backgirl.jpeg") no-repeat fixed , center;
    }

    #callout-pic{
        height:100%;
        width:100%;
    }


footer {
    position: absolute;
    font-family: "Monserrat", serif;
    color: #9099A2;
    font-size: 2em;
    margin-bottom: 0em;
}

/*------------------- Section */